:root {
  /* CSS HEX */
--jade: #07a870ff;
--illuminating-emerald: #2c8f6cff;
--sea-green-crayola: #48f0b5ff;
--brunswick-green: #174535ff;
--bottle-green: #346655ff;
--castleton-green: #0a573cff;
--mint: #3ab795ff;
--celadon: #a0e8afff;
--eton-blue: #86baa1ff;
--beige: #edead0ff;
--maize-crayola: #ffcf56ff;

  /* CSS HSL */
  --medium-sea-green: hsla(159, 94%, 38%, 1);
  --dark-jungle-green: hsla(160, 32%, 9%, 1);
  --medium-spring-green: hsla(159, 93%, 48%, 1);
  --brunswick-green: hsla(159, 50%, 18%, 1);
  --aquamarine: hsla(159, 82%, 67%, 1);
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
 }

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.main__container {
	background-color: transparent;
}

.navbar {
	background-color: var(--castleton-green);
}

/*start of index*/
.index__container,
.register__container,
.newrecord__container,
.newcategory__container {
	background-color: var(--jade);
	border-radius: 20px;
	padding: 2rem;
}

.welcome__tag,
.register__title {
	text-align: center;
	color: var(--brunswick-green);
}

.tagline {
	font-style: italic;
	color: var(--brunswick-green);
	text-align: center;
	margin-bottom: 5rem;
}

.login__form {
	padding-left: 2rem;
	padding-right: 2rem;
}

.btn__login,
.btn__register {
	background-color: var(--castleton-green) !important;
	border-color: var(--aquamarine) !important;
}

.btn__login:hover,
.btn__register:hover {
	border-color: var(--castleton-green) !important;
	background-color: var(--brunswick-green) !important;
	color: #fff;
}

.btn__lgn__register {
	color: #fff;
}

.btn__lgn__register:hover {
	text-decoration: none;
	color: #fff;
}

/*end of index*/

/*start of register*/

/*end of register*/